<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.transactional.section01.annotation.OrderMapper">
    <insert id="registOrder">
        INSERT
            INTO TBL_ORDER
        (
            ORDER_DATE
          , ORDER_TIME
          , TOTAL_ORDER_PRICE
        )
        VALUES
        (
            #{orderDate}
          , #{orderTime}
          , #{totalOrderPrice}
        )
        <selectKey keyProperty="orderCode" order="AFTER" resultType="_int">
            SELECT MAX(ORDER_CODE) FROM TBL_ORDER
        </selectKey>
    </insert>

    <insert id="registOrderMenu">
        INSERT
            INTO TBL_ORDER_MENU
           (
            ORDER_CODE
          , MENU_CODE
          , ORDER_AMOUNT
        )
        VALUES
        (
            #{orderCode}
          , #{menuCode}
          , #{orderAmount}
        )
    </insert>
</mapper>