<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>list</title>
</head>
<body>

	<table>
		<tr>
			<th>메뉴번호</th>
			<th>메뉴이름</th>
			<th>메뉴가격</th>
			<th>카테고리코드</th>
			<th>판매상태</th>
		</tr>
		<tr th:each="menu : ${ menuList }">
			<td th:text="${ menu.menuCode }"></td>
			<td th:text="${ menu.menuName }"></td>
			<td th:text="${ menu.menuPrice }"></td>
			<td th:text="${ menu.categoryCode }"></td>
			<td th:text="${ menu.orderableStatus }"></td>
		</tr>
	</table>

	<div id="paging" >

		<!-- 맨 앞으로 이동 -->
		<button th:onclick="'location.href=\'/menu/list?page=' + @{${paging.startPage}} + '\''"><<</button>

		<!-- 이전 페이지로 이동 -->
		<button th:onclick="'location.href=\'/menu/list?page=' + @{${paging.currentPage - 1}} + '\''"
				th:disabled="${ menuList.first }"><</button>

		<!-- 숫자 버튼 -->
		<th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
			<button th:onclick="'location.href=\'/menu/list?page=' + @{${page}} + '\''"
					th:text="${ page }"
					th:disabled="${ paging.currentPage eq page }">
			</button>
		</th:block>

		<!-- 다음 페이지로 이동 -->
		<button th:onclick="'location.href=\'/menu/list?page=' + @{${paging.currentPage + 1}} + '\''"
				th:disabled="${ menuList.last }">></button>

		<!-- 맨 끝으로 이동 -->
		<button th:onclick="'location.href=\'/menu/list?page=' + @{${paging.endPage}} + '\''">>></button>
	</div>

</body>
</html>