<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <!--
        v-show
        조건에 따라 요소를 화면에 보여주거나 숨기는 데 사용된다.
        css의 display 속성을 컨트롤해서 엘리먼트를 존재/제거 하게 된다.
        토글(toggle)을 위한 목적으로 자주 사용된다.
    -->
    <div id="step01">
        <button @click="setState">문자열 토글 버튼</button>
        <h1 v-show="state">Hello!</h1>
    </div>

    <!--
        v-if
    -->
    <div id="step02">
        <div v-if="isTrue">
            <p>참인 경우</p>
        </div>
        <div v-if="!isTrue">
            <p>거짓인 경우</p>
        </div>
        <hr>
        <div v-if="truthy">
            <p>{{truthy}}</p>
        </div>
        <div v-if="!falsy">
            <p>falsy</p>
        </div>
    </div>

    <!--

    -->
    <div id="step03">
        <h1 v-if="awesome == 'awesome'">Vue is awesome!</h1>
        <h1 v-else-if="awesome == 'good'">hello</h1>
        <h1 v-else>oh no</h1>
        <button @click="setToggle">toggle</button>
    </div>

    <script>
        const {createApp, ref} = Vue;
        createApp({
            setup() {
                const state = ref(true);
                function setState() {
                    state.value =!state.value;
                }
                return {
                    state,
                    setState
                }
            }
        }).mount('#step01');

        createApp({
            setup() {
                const isTrue = ref(false);
                const truthy = ref('Truthy');
                const falsy = ref('');

                return {
                    isTrue,
                    truthy,
                    falsy
                }
            }
        }).mount('#step02');

        createApp({
            setup() {
                const awesome = ref('awesome');
                const count = ref(1);

                function setToggle() {
                    const options =
                        ["awesome", "good", "not good"];
                    const optionIndex =
                        count.value % options.length;

                    awesome.value = options[optionIndex];
                    count.value++;

                }
               
                
                return {
                    awesome,
                    setToggle                   
                }
            }
        }).mount('#step03');
    </script>
</body>
</html>
