<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.mybatisspring.section01.factorybean.MenuMapper">
    <resultMap id="menuResultMap" type="com.ohgiraffers.mybatisspring.section01.factorybean.MenuDTO">
        <id property="menuCode" column="MENU_CODE"/>
        <result property="menuName" column="MENU_NAME"/>
        <result property="menuPrice" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STAUS"/>
    </resultMap>
    <select id="selectAllMenuByOrderableStatus" resultMap="menuResultMap">
        SELECT
                A.MENU_CODE
              , A.MENU_NAME
              , A.MENU_PRICE
              , A.CATEGORY_CODE
              , A.ORDERABLE_STATUS
            FROM TBL_MENU A
           WHERE A.ORDERABLE_STATUS = #{orderableStatus}
           ORDER BY A.MENU_CODE DESC

    </select>
</mapper>